# Ian Schlierf
## Week 8 - 10/13/2020
### Python Functions Continued

In [1]:
def full_name(fname,lname):
    return fname + ' ' + lname

In [2]:
full_name('Ian', 'Schlierf')

'Ian Schlierf'

In [6]:
# finds if a numer is prime
def prime(num):
    '''
    This checks if a number is prime
    '''
    for n in range(2,num):
        if num%n == 0:
            return (num , ' is not prime')
        else:
            return (num,   'is prime')

In [7]:
prime(7)

(7, 'is prime')

In [8]:
prime(15)

(15, 'is prime')

In [9]:
prime(16)

(16, ' is not prime')

In [10]:
prime(9)

(9, 'is prime')

In [11]:
prime(8)

(8, ' is not prime')

In [13]:
for n in range(2,15):
    print(prime(n))

None
(3, 'is prime')
(4, ' is not prime')
(5, 'is prime')
(6, ' is not prime')
(7, 'is prime')
(8, ' is not prime')
(9, 'is prime')
(10, ' is not prime')
(11, 'is prime')
(12, ' is not prime')
(13, 'is prime')
(14, ' is not prime')

In [17]:
#min_two_odds(3,5) --> 3
#min_two_odds(4,9) --> 9
def min_two_odds(n1,n2):
    if (n1%2 != 0) and (n2%2 != 0):
        print('both nums are odd')
        if n1>n2:
            print(n2)
        else:
            print(n1)
    else:
        print('enter odd numbers only')

In [18]:
min_two_odds(3,5)

both nums are odd
3

In [19]:
min_two_odds(3,6)

enter odd numbers only

In [32]:
#check if two-word string starts with the same letter.
def two_words(str):
    str1 = str.split()
    n = 0
    if str1[n][0] == str1[n+1][0]:
        print('the words both start with', str1[n][0])
    else:
        print ('none matching')

In [33]:
two_words('Hello Hat')

the words both start with H

In [34]:
two_words('hello Ian')

none matching

In [22]:
str.split()
str

'I like apples'

In [24]:
str.split

In [25]:
str1 = str.split()

In [26]:
str1

['I', 'like', 'apples']

In [35]:
#reduce 
def two(txt):
    lst = txt.split()
    return lst[0][0]==lst[1][0]

In [36]:
two('hello help')

True

In [48]:
# create_thirty(10,20)--> True
# create_thirty(5,30)--> True
# create_thirty(5,20) --> false
# true if the nums add up to 30 or if one of the nums is 30

def thirty(n1,n2):
    if n1 == 30 or n2 == 30:
        return 1==1
    elif (n1 + n2) == 30: 
        return 1==1
    else:
        return 1!=1

In [49]:
thirty(10,20)

True

In [50]:
thirty(5,30)

True

In [51]:
thirty(5,5)

False

In [55]:
def create_thirty(n1,n2):
    return (n1+n2)== 30 or n1 == 30 or n2 == 30

In [56]:
create_thirty(5,30)

True

In [57]:
create_thirty(10,20)

True

In [76]:
#'programming' --> ProGramming
w = 'macdonald'
str10 = w[:3].capitalize()
str10 += w[3:].capitalize()
print(str10)

MacDonald

In [68]:
w[:3]

'mac'

In [70]:
w[3:]

'donald'

In [79]:
def caps(word):
    s = word[:3].capitalize()
    s += word[3:].capitalize()
    return s

In [80]:
caps('Hello')

'HelLo'

In [81]:
caps('program')

'ProGram'

In [12]:
#reverse a statement
str100 = 'I am Home'
lst = str100.split()

In [13]:
lst

['I', 'am', 'Home']

In [14]:
' '.join(lst)

'I am Home'

In [15]:
lst1 = str100.split()

In [16]:
lst1

['I', 'am', 'Home']

In [17]:
lst1. reverse()

In [18]:
lst1

['Home', 'am', 'I']

In [19]:
' '.join(lst1)

'Home am I'

In [22]:
def rv_stat(txt):
    #lst = txt.split()
    #lst.reverse()
    return ' '.join(txt.split()[::-1])

In [23]:
rv_stat('hello how are you doing')

'doing you are how hello'

In [55]:
#Check if a list has number 5 next to number anywhere in the list
#[3,4,5,5,10] -> true

lst = [3,4,5,5,10]
def has_55(lst):
    
    for i in range(0,len(lst)-1):
      #  if lst[n]==5 and lst[n+1]==5:
        if lst[i:i+2] == [5,5]:
           return True
    return False

In [56]:
has_55([3,4,5,5,10])

True

In [57]:
has_55(lst)

True

In [59]:
has_55([3,2,4,6,7])

False

In [60]:
#check code for 001 in a list
#[1,4,5,0,0,1,8] --> True
#[1,0,2,5,0,6,1,8] --> True
#[1,5,6,0,6,7,8,0] --> False


def sameNum(lst):
    
    code = [0,1,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0) #remove the num at index 0
            
    return len(code) == 1

In [63]:
sameNum([1,4,5,0,0,1,8])

True

In [64]:
sameNum([[1,5,6,0,6,7,8,0]])

False

In [65]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [66]:
# Number of arguments
def fullName(fname,lname):
    print(fname, lname)

In [68]:
fullName('Ian', 'schlierf')

Ian schlierf

In [71]:
def fullName(*names):
    
    if len(names) == 1:
        print(names[0])
    else:
        print(names[0], names[1])

In [72]:
fullName('Ian')

Ian

In [77]:
def sums(*n):
    
    return sum(n)

In [78]:
sums(10,5)

15

In [79]:
sums(10,4,3,2,3,2,2)

26

In [80]:
def kids(ch1,ch2,ch3):
    print('my first child is', ch1, 'second child is', ch2, 'third child is', ch3)

In [81]:
kids('iaj','boj','aks')

my first child is iaj second child is boj third child is aks

In [83]:
kids('boj','aks','iaj')

SyntaxError: keyword can't be an expression (<ipython-input-83-9786400d79fb>, line 1)

In [84]:
kids(ch2 = 'naj',ch1 ='bol',ch3 = 'nal')

my first child is bol second child is naj third child is nal