# Ian Schlierf
## Week 8 - 10/13/2020
### Python Functions Continued

In [1]:
def full_name(fname,lname):
    return fname + ' ' + lname

In [2]:
full_name('Ian', 'Schlierf')

'Ian Schlierf'

In [6]:
# finds if a numer is prime
def prime(num):
    '''
    This checks if a number is prime
    '''
    for n in range(2,num):
        if num%n == 0:
            return (num , ' is not prime')
        else:
            return (num,   'is prime')

In [7]:
prime(7)

(7, 'is prime')

In [8]:
prime(15)

(15, 'is prime')

In [9]:
prime(16)

(16, ' is not prime')

In [10]:
prime(9)

(9, 'is prime')

In [11]:
prime(8)

(8, ' is not prime')

In [13]:
for n in range(2,15):
    print(prime(n))

None
(3, 'is prime')
(4, ' is not prime')
(5, 'is prime')
(6, ' is not prime')
(7, 'is prime')
(8, ' is not prime')
(9, 'is prime')
(10, ' is not prime')
(11, 'is prime')
(12, ' is not prime')
(13, 'is prime')
(14, ' is not prime')

In [17]:
#min_two_odds(3,5) --> 3
#min_two_odds(4,9) --> 9
def min_two_odds(n1,n2):
    if (n1%2 != 0) and (n2%2 != 0):
        print('both nums are odd')
        if n1>n2:
            print(n2)
        else:
            print(n1)
    else:
        print('enter odd numbers only')

In [18]:
min_two_odds(3,5)

both nums are odd
3

In [19]:
min_two_odds(3,6)

enter odd numbers only

In [32]:
#check if two-word string starts with the same letter.
def two_words(str):
    str1 = str.split()
    n = 0
    if str1[n][0] == str1[n+1][0]:
        print('the words both start with', str1[n][0])
    else:
        print ('none matching')

In [33]:
two_words('Hello Hat')

the words both start with H

In [34]:
two_words('hello Ian')

none matching

In [22]:
str.split()
str

'I like apples'

In [24]:
str.split

In [25]:
str1 = str.split()

In [26]:
str1

['I', 'like', 'apples']

In [35]:
#reduce 
def two(txt):
    lst = txt.split()
    return lst[0][0]==lst[1][0]

In [36]:
two('hello help')

True

In [48]:
# create_thirty(10,20)--> True
# create_thirty(5,30)--> True
# create_thirty(5,20) --> false
# true if the nums add up to 30 or if one of the nums is 30

def thirty(n1,n2):
    if n1 == 30 or n2 == 30:
        return 1==1
    elif (n1 + n2) == 30: 
        return 1==1
    else:
        return 1!=1

In [49]:
thirty(10,20)

True

In [50]:
thirty(5,30)

True

In [51]:
thirty(5,5)

False

In [55]:
def create_thirty(n1,n2):
    return (n1+n2)== 30 or n1 == 30 or n2 == 30

In [56]:
create_thirty(5,30)

True

In [57]:
create_thirty(10,20)

True

In [76]:
#'programming' --> ProGramming
w = 'macdonald'
str10 = w[:3].capitalize()
str10 += w[3:].capitalize()
print(str10)

MacDonald

In [68]:
w[:3]

'mac'

In [70]:
w[3:]

'donald'

In [79]:
def caps(word):
    s = word[:3].capitalize()
    s += word[3:].capitalize()
    return s

In [80]:
caps('Hello')

'HelLo'

In [81]:
caps('program')

'ProGram'