# Ian Schlierf
## Week5: 09/24/2020
### Python For Loops

**General for loops format**
<code> for items in object:
    statements to do work <code>

In [2]:
sc = [68,56,78,987,65,45,67,34,56,78]

In [5]:
for i in sc:
    print(sc.count)

<built-in method count of list object at 0x000001F8EE8D8C48>
<built-in method count of list object at 0x000001F8EE8D8C48>
<built-in method count of list object at 0x000001F8EE8D8C48>
<built-in method count of list object at 0x000001F8EE8D8C48>
<built-in method count of list object at 0x000001F8EE8D8C48>
<built-in method count of list object at 0x000001F8EE8D8C48>
<built-in method count of list object at 0x000001F8EE8D8C48>
<built-in method count of list object at 0x000001F8EE8D8C48>
<built-in method count of list object at 0x000001F8EE8D8C48>
<built-in method count of list object at 0x000001F8EE8D8C48>

In [6]:
4 % 2

0

In [7]:
for num in sc:
    if num % 2 == 0:
        print(num)

68
56
78
34
56
78

In [8]:
for num in sc:
    if num % 2 != 0:
        print(num)

987
65
45
67

In [9]:
for num in sc:
    if num % 2 == 0:
        print(num)
    else:
        print('odd score')

68
56
78
odd score
odd score
odd score
odd score
34
56
78

In [10]:
sc_num = 0

for n in sc:
    sc_num += n
print(sc_num)

1534

In [11]:
sc_num = 0

for n in sc:
    sc_num += n
    
avg = sc_num / len(sc)
print(avg)

153.4

In [12]:
for letter in 'I am a student in CIS 310':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S

3
1
0

In [13]:
t = (5,7,9,10,14)

for n in t:
    print(n)

5
7
9
10
14

In [14]:
ls1 = [(10,20),(30,40), (50,60), (70,80), (90,100)]

In [15]:
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [16]:
for t in ls1:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [17]:
for (t1,t2) in ls1:
    print(t1)

10
30
50
70
90

In [18]:
d = {'Brand': 'Ford', 'model': 'Mustang', 'year': 1969}

In [19]:
d

{'Brand': 'Ford', 'model': 'Mustang', 'year': 1969}

In [20]:
for item in d:
    print(item)

Brand
model
year

In [21]:
d.items()

dict_items([('Brand', 'Ford'), ('model', 'Mustang'), ('year', 1969)])

In [22]:
d.values()

dict_values(['Ford', 'Mustang', 1969])

In [26]:
for k,v in d.items():
    print(k,v)
    print(v)

Brand Ford
Ford
model Mustang
Mustang
year 1969
1969

In [27]:
for k,v in d.items():
 

    print(v)

Ford
Mustang
1969

In [30]:
for k in d.keys():
    
    print(k)

Brand
model
year

In [31]:
for tup in d.items():
    print(tup)

('Brand', 'Ford')
('model', 'Mustang')
('year', 1969)

In [32]:
sorted(d.values())

TypeError: '<' not supported between instances of 'int' and 'str'

In [33]:
d

{'Brand': 'Ford', 'model': 'Mustang', 'year': 1969}

In [35]:
sorted(5,65,4,43,4,34,34)

TypeError: sorted expected 1 arguments, got 7

In [36]:
d1 = {'k1': 5,'k2': 8,'k3':3}

In [37]:
sorted(d1)

['k1', 'k2', 'k3']

In [38]:
d1.values()

dict_values([5, 8, 3])

In [39]:
sorted(d1.values())

[3, 5, 8]

In [40]:
fruits = ['Apple', 'Bananaa','cherry']

for f in fruits:
    print(f)

Apple
Bananaa
cherry